{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">PLATILLOS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionPlatillo/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione el tipo de comida</b>
      <select class="form-control" name="id_tipo" id="id_tipo" required>
        <option value="">--Seleccione el tipo de comida--</option>
        {% for tipo in tipos %}
        <option value="{{tipo.idT_df}}">{{tipo.nombreT_df}}</option>
        {% endfor %}
      </select>
      <script type="text/javascript">
        document.getElementById("id_tipo" .value="{{platillo.tipo.idT_df}}");
      </script>
      <input type="hidden" name="idPl_df" value="{{platillo.idPl_df}}">
      <b>Nombre del platillo:</b>
      <input type="text" name="nombrePl_df" id="nombrePl_df" value="{{platillo.nombrePl_df}}" placeholder="Ingrese el nombre del platillo" class="form-control" required>
      <br>
      <b>Descripcion del platillo:</b>
      <textarea name="descripcionPl_df" id="descripcionPl_df" rows="3" class="form-control" placeholder="Ingrese la descricion del platillo">{{platillo.descripcionPl_df}}</textarea>
      <br>
      <b>Precio del platillo:</b>
      <input type="text" name="precioPl_df" id="precioPl_df" value="{{platillo.precioPl_df}}" placeholder="Ingrese el precio del platillo" class="form-control" required>
      <br>
      <b>Fotografia del platillo:</b>
      <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/platillo/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
