{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">RECETAS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionReceta/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <select class="form-control" name="id_platillo" id="id_platillo">
        <option value="">---SELECCIONE EL PLATILLO--</option>
        {%  for platillo in platillos %}
        <option value="{{platillo.idPl_df}}">{{platillo.nombrePl_df}}</option>
        {% endfor %}
      </select>
      <select class="form-control" name="id_ingredientes" id="id_ingredientes">
          <option value="">---SELECCIONE EL INGREDIENTE--</option>
          {%  for ingrediente in ingredientes %}
          <option value="{{ingrediente.idI_df}}">{{ingrediente.nombreI_df}}</option>
          {% endfor %}
        </select>
      <script type="text/javascript">
       document.getElementById("id_platillo").value="{{receta.platillo.idR_df}}";
       document.getElementById("id_ingredientes").value="{{receta.ingrediente.idI_df}}";
    </script>
      <input type="hidden" name="idR_df" value="{{receta.idR_df}}">
      <b>Nombre de la receta:</b>
      <input type="text" name="nombreR_df" id="nombreR_df" value="{{receta.nombreR_df}}" placeholder="Ingrese el nombre de la receta" class="form-control" required>
      <br>
      <b>Tiempo Preparacion receta:</b>
      <input type="text" name="tiempopreR_df" id="tiempopreR_df" value="{{receta.tiempopreR_df}}" placeholder="Ingrese el tiempo de preparacion" class="form-control" required>
      <br>
      <b>Descripcion de la receta:</b>
      <textarea name="descripcionR_df" id="descripcionR_df" rows="3" class="form-control" placeholder="Ingrese la descripcion">{{receta.descripcionR_df}}</textarea>
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning"> Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/receta">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
