{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">PEDIDOS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionPedidos/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione el cliente:</b>
      <select class="form-control" name="codigo_ped" id="codigo_ped" required>
        <option value="">--Seleccione el cliente--</option>
        {% for cliente in clientes %}
        <option value="{{cliente.idC_df}}">
          {{cliente.nombreC_df}}
        </option>
        {% endfor %}
      </select>
      <script type="text/javascript">
       document.getElementById("codigo_ped").value="{{pedido.cliente.idC_df}}";


    </script>
      <script type="text/javascript">
        document.getElementById("idC_df_" .value="{{pedido.cliente.idC_df}}");
      </script>
      <input type="hidden" name="idP_df" value="{{pedido.idP_df}}">
      <b>Nombre delpedido:</b>
      <input type="text" name="nombreP_df" id="nombreP_df" value="{{pedido.nombreP_df}}" placeholder="Ingrese el nombre del pedido" class="form-control" required>
      <br>
      <b>Fecha facturacion pedido:</b>
      <input type="date" name="fecha_facP_df" id="fecha_facP_df" value="{{pedido.fecha_facP_df}}" placeholder="Ingrese la fecha de facturacion" class="form-control" required>
      <br>
      <br>
      <b>Numero de factura pedido:</b>
      <input type="text" name="numero_facP_df" id="numero_facP_df" value="{{pedido.numero_facP_df}}" placeholder="Ingrese el numero de pedido" class="form-control" required>
      <b>Fotografia del pedido:</b>
      <br>
      <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning"> Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/pedidos/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
