{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">PROVINCIAS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionProvincia/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="id_df" value="{{provincia.id_df}}">
      <b>Region de la provincia:</b>
      <input type="text" name="regionPr_df" id="regionPr_df" value="{{provincia.regionPr_df}}" placeholder="Ingrese el nombre de la provincia" class="form-control" required>
      <br>
      <b>Nombre de la provincia:</b>
      <input type="text" name="nombrePr_df" id="nombrePr_df" value="{{provincia.nombrePr_df}}" placeholder="Ingrese el nombre de la provincia" class="form-control" required>
      <br>
      <b>Capital de la provincia:</b>
      <input type="text" name="capitalPr_df" id="capitalPr_df" value="{{provincia.capitalPr_df}}" placeholder="Ingrese la capital de la provincia" class="form-control" required>
      <br>
      <b>Fotografia de la provincia:</b>
      <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
