{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">DETALLES</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionDetalle/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione el pedido:</b>
      <select class="form-control" name="id_pedido" id="id_pedido">
        <option value="">---SELECCIONE EL PEDIDO--</option>
        {%  for pedido in pedidos %}
        <option value="{{pedido.idP_df}}">{{pedido.nombreP_df}}</option>
        {% endfor %}
      </select>
      <b>Seleccione el platillo:</b>
      <select class="form-control" name="id_platillo" id="id_platillo">
          <option value="">---SELECCIONE EL PLATILLO--</option>
          {%  for platillo in platillos %}
          <option value="{{platillo.idPl_df}}">{{platillo.nombrePl_df}}</option>
          {% endfor %}
        </select>
      <script type="text/javascript">
       document.getElementById("id_pedido").value="{{detalle.pedido.idP_df}}";
       document.getElementById("id_platillo").value="{{detalle.platillo.idPl_df}}";
    </script>
      <input type="hidden" name="idD_df" value="{{detalle.idD_df}}">
      <b>Cantidad del producto:</b>
      <input type="text" name="cantidadD_df" id="cantidadD_df" value="{{detalle.cantidadD_df}}" placeholder="Ingrese la cantidad" class="form-control" required>
      <br>
      <b>Precio del producto:</b>
      <input type="text" name="precioD_df" id="precioD_df" value="{{detalle.precioD_df}}" placeholder="Ingrese el precio" class="form-control" required>
      <br>
      <b>Total:</b>
      <input type="text" name="totalD_df" id="totalD_df" value="{{detalle.totalD_df}}" placeholder="Ingrese el total" class="form-control" required>
      <b>Fotografia Producto:</b>
      <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning"> Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/detalles/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
