{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">TIPOS DE COMIDA</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionTipo/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idT_df" value="{{tipo.idT_df}}">
      <b>Nombre del tipo de comida:</b>
      <input type="text" name="nombreT_df" id="nombreT_df" value="{{tipo.nombreT_df}}" placeholder="Ingrese el nombre del tipo de comida" class="form-control" required>
      <br>
      <b>Descripcion del tipo de comida:</b>
      <textarea name="descripcionT_df" id="descripcionT_df" rows="3" class="form-control" placeholder="Ingrese la descripcion del tipo de comida">{{tipo.descripcionT_df}}</textarea>
      <br>
      <b>Codigo tipo de comida:</b>
      <input type="text" name="codigoT_df" id="codigoT_df" value="{{tipo.codigoT_df}}" placeholder="Ingrese el codigo del tipo de comida" class="form-control" required>
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/tipos/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
