{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">CLIENTES</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionClientes/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione la provincia:</b>
      <select class="form-control" name="codigo_pro" id="codigo_pro" required>
        <option value="">--Seleccione la provincia--</option>
        {% for provincia in provincias %}
        <option value="{{provincia.id_df}}">
          {{provincia.nombrePr_df}}
        </option>
        {% endfor %}
      </select>
      <script type="text/javascript">
       document.getElementById("codigo_pro").value="{{cliente.provincia.id_df}}";


    </script>
      <script type="text/javascript">
        document.getElementById("id_provincia" .value="{{cliente.provincia.id_df}}");
      </script>
      <input type="hidden" name="idC_df" value="{{cliente.idC_df}}">
      <b>Nombre Cliente:</b>
      <input type="text" name="nombreC_df" id="nombreC_df" value="{{cliente.nombreC_df}}" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Apellido Cliente:</b>
      <input type="text" name="apellidoC" id="apellidoC" value="{{cliente.apellidoC}}" placeholder="Ingrese el Apellido" class="form-control" required>
      <br>
      <b>Direccion del Cliente:</b>
      <textarea name="direccionC_df" id="direccionC_df" rows="3" class="form-control" placeholder="Ingrese Direccion">{{cliente.direccionC_df}}</textarea>
      <br>
      <b>Email del cliente:</b>
      <input type="email" name="correoC" id="correoC" value="{{cliente.correoC}}" placeholder="Ingrese el correo" class="form-control" required>
      <b>Fotografia del cliente:</b>
      <br>
      <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning"> Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/clientes">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
