{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">INGREDIENTES</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionIngredientes/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idI_df" value="{{ingrediente.idI_df}}">
      <b>Nombre del ingrediente:</b>
      <input type="text" name="nombreI_df" id="nombreI_df" value="{{ingrediente.nombreI_df}}" placeholder="Ingrese el nombre del ingrediente" class="form-control" required>
      <br>
      <b>Descripcion del ingrediente:</b>
      <textarea name="descripcionI_df" id="descripcionI_df" rows="3" class="form-control" placeholder="Ingrese la descripcion">{{ingrediente.descripcionI_df}}</textarea>
      <br>
      <b>Fecha Caducidad del ingrediente:</b>
      <input type="text" name="fecha_cadI_df" id="fecha_cadI_df" value="{{ingrediente.fecha_cadI_df|date:'YYY-MM-DD'}}" placeholder="Ingrese la fecha de caducidad" class="form-control" required>
      <br>
      <b>Fotografia del ingrediente:</b>
      <br>
      <input type="file" name="fotografia" id="fotografia" accept="image/*" class="form-control">
      <center>
      <button type="submit" name="button" class="btn btn-warning">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/ingredientes/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
