{% extends "./plantilla.html" %}

{% block contenido %}
  {% load static %}
  <div class="container">
    <h1 class="text-center">Listado de Provincias</h1>
    <br>
    <div class="row">
      <div class="col-md-3">
        <form class="" action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="frm_nueva_provincia">
          {% csrf_token %}
          <b>Region de la Provincia:</b>
          <input type="text" name="regionPr_df" value="" id="regionPr_df" placeholder="Ingrese la region" class="form-control" required><br>
          <b>Nombre de la Provincia:</b>
          <input type="text" name="nombrePr_df" value="" id="nombrePr_df" placeholder="Ingrese el nombre de la provincia" class="form-control" required><br>
          <b>Capital de la provincia:</b>
          <input type="text" name="capitalPr_df" value="" id="capitalPr_df" placeholder="Ingrese la capital" class="form-control" required><br>
          <b>Fotografia de la Provincia:</b>
          <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</button>
          </center>
        </form>
      </div>
      <div class="col-md-9 text-center">
        <!-- <img src="{% static 'img/logo.jpeg' %}" alt="" width="100px"> -->
        <table class="table " id="tbl_provincias" >
          <thead>
            <tr>
              <th class=text-center>ID</th>
              <th class=text-center>REGION</th>
              <th class=text-center>NOMBRE PROVINCIA</th>
              <th class=text-center>CAPITAL</th>
              <th class=text-center>FOTOGRAFIA</th>
              <th class=text-center>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for provincia in provincias %}
            <tr>
              <td>{{provincia.id_df}}</td>
              <td>{{provincia.regionPr_df}}</td>
              <td>{{provincia.nombrePr_df}}</td>
              <td>{{provincia.capitalPr_df}}</td>
              <!--<td>{{provincia.fotografia}}</td>-->
              <td>
                  {% if provincia.fotografia %}
                  <a href="{{provincia.fotografia.url}}" target="_blank"><img src="{{provincia.fotografia.url}}" alt="" height="50px">
                  {% else %}</a>
                  <b>N/A</b>
                  {% endif %}
                </td>
              <td>
                <a href="/editarProvincia/{{provincia.id_df}}" class="btn btn-warning">Editar</a>
                <a href="javascript: void(0)" onclick="eliminarProvincia('/eliminarProvincia/{{provincia.id_df}}');" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function eliminarProvincia(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar la provincia seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>
  <script type="text/javascript">
    $("#frm_nueva_provincia").validate({
        rules: {
          "regionPr_df": {
            required: true
          },
          "nombrePr_df": {
            required: true
          },
          "capitalPr_df": {
            required: true
          },
          "fotografia":true
        },
        messages: {
          "regionPr_df": {
            required: "Ingrese la region"
          },
          "nombrePr_df": {
            required: "Ingrese el nombre de la provincia"
          },
          "capitalPr_df": {
            required: "Ingrese la capital de la provincia"
          },
          "fotografia"{
            required:"Ingrese la fotografia"
          }
        }
      });
  </script>
  <script type="text/javascript">
    //let table = new DataTable('#tbl_clientes');
    $('#tbl_provincias').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'Reportes de provincias.'
        },
        'print',
        'csv'
      ],

    });
  </script>
{% endblock %}
