{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Listado de Platillo</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo">
         {% csrf_token %}
         <select class="form-control" name="id_tipo" id="id_tipo" required>
      <option value="">---SELECCIONE TIPO DE COMIDA---</option >
      {%  for tipo in tipos %}
      <option value="{{tipo.idT_df}}">{{tipo.nombreT_df}}</option>
      {% endfor %}
    </select>
    <br>
         <b>Nombre del platillo:</b><br>
         <input type="text" name="nombrePl_df" value="" id="nombrePl_df" placeholder="Ingrese el nomnbre del platillo" class="form-control" required><br>
         <b>Descripcion del platillo:</b><br>
         <textarea name="descripcionPl_df" rows="3" cols="0" id="descripcionPl_df" class="form-control" placeholder="Ingrese la descripcion" required></textarea><br>
         <b>Precio del platillo:</b>
          <input type="text" name="precioPl_df" value="" id="precioPl_df" placeholder="Ingrese el precio del platillo" class="form-control" required><br>
          <br>
          <b>Fotografia del platillo</b>
          <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

          </center>


       </form>

     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_platillos">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">NOMBRE</th>
             <th class="text-center">DESCRIPCION</th>
             <th class="text-center">PRECIO</th>
             <th class="text-center">TIPO</th>
             <th class="text-center">FOTOGRAFIA</th>
             <th class="text-center">ACCIONES</th>
           </tr>

         </thead>
         <tbody>
           {% for platillo in platillos %}
              <tr>
                <td>{{platillo.idPl_df}}</td>
                <td>{{platillo.nombrePl_df}}</td>
                <td>{{platillo.descripcionPl_df}}</td>
                <td>{{platillo.precioPl_df}}</td>
                <td>{{platillo.tipo.nombreT_df}}</td>

                <td>
                  {% if platillo.fotografia %}
                  <a href="{{platillo.fotografia.url}}" target="_blank"><img src="{{platillo.fotografia.url}}" alt="" height="50px">
                  {% else %}</a>
                  <b>N/A</b>
                  {% endif %}
                </td>
                <td>
                  <a href="/editarPlatillo/{{platillo.idPl_df}}" class="btn btn-warning">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.idPl_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarPlatillo(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el platillo seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_platillo").validate({
          rules:{
            "id_tipo":{
              required:true
            },
            "nombrePl_df":{
              required:true,

            },
            "descripcionPl_df":{
              required:true
            },
            "precioPl_df":{
              required:true
            },
            "fotografia":{
          required:true
          }

          },
          messages:{
            "id_tipo":{
              required:"Por favor seleccione el tipo de comida"
            },
            "nombrePl_df":{
              required:"Ingrese el nombre del platillo",
            },
            "descripcionPl_df":{
              required:"Ingrese la descripcion del platillo"
            },
            "precioPl_df":{
              required:"Ingrese el precio del platillo"
            },
            "fotografia":{
              required:"Ingrese la fotografia del cliente"
            }
          }
        });
      </script>
      <script type="text/javascript">
         //let table = new DataTable('#tbl_clientes');
          $('#tbl_platillos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes de platillos.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
