{% extends "./plantilla.html" %}

{% block contenido %}
  {% load static %}
  <div class="container">
    <h1 class="text_center">Listado de Ingredientes</h1>
    <br>
    <div class="row">
      <div class="col-md-3">
        <form class="" action="/guardarIngredientes/" method="post" enctype="multipart/form-data" id="frm_nuevo_ingrediente">
          {% csrf_token %}
          <b>Nombre del ingrediente:</b>
          <input type="text" name="nombreI_df" value="" id="nombreI_df" placeholder="Ingrese el nombre de la receta" class="form-control" required><br>
          <b>Descripcion del ingrediente:</b>
          <textarea name="descripcionI_df" rows="6" cols="60" id="descripcionI_df" class="form-control" placeholder="Ingrese la descripcion del ingrediente" required></textarea><br>
          <b>Fecha Caducidad del ingrediente:</b>
          <input type="date" name="fecha_cadI_df" value="" id="fecha_cadI_df" placeholder="Ingrese la fecha de caducidad" class="form-control" placeholder="ingrese la fecha de caducida" required><br>
          <br>
          <b>Fotografia del ingrediente:</b>
          <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</button>
          </center>
        </form>
      </div>
      <div class="col-md-9 text-center">
        <img src="{% static 'img/descarga.png' %}" alt="" width="100px">
        <table class="table " id="tbl_ingredientes" >
          <thead>
            <tr>
              <th class=text-center>ID</th>
              <th class=text-center>NOMBRE</th>
              <th class=text-center>DESCRIPCION</th>
              <th class=text-center>FECHA CADUCIDAD</th>
              <th class=text-center>FOTOGRAFIA</th>
              <th class=text-center>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
              <td>{{ingrediente.idI_df}}</td>
              <td>{{ingrediente.nombreI_df}}</td>
              <td>{{ingrediente.descripcionI_df}}</td>
              <td>{{ingrediente.fecha_cadI_df}}</td>

              <td>
                      {% if ingrediente.fotografia %}
                      <a href="{{ingrediente.fotografia.url}}" target="_blank"><img src="{{ingrediente.fotografia.url}}" alt="" height="50px">
                      {% else %}</a>
                      <b>N/A</b>
                      {% endif %}
                    </td>
              <td>
                <a href="/editarIngredientes/{{ingrediente.idI_df}}" class="btn btn-warning">Editar</a>
                <a href="javascript: void(0)" onclick="eliminarIngredientes('/eliminarIngredientes/{{ingrediente.idI_df}}');" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function eliminarIngredientes(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el ingrediente seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>
  <script type="text/javascript">
    $("#frm_nuevo_ingrediente").validate({
        rules: {
          "nombreI_df": {
            required: true

          },
          "descripcionI_df": {
            required: true
          },
          "fecha_cadI_df": {
            required: true
          },
          "fotografia":{
            required:true
          }
        },
        messages: {
          "nombreI_df": {
            required: "Ingrese el nombre del ingrediente",
          },
          "descripcionI_df": {
            required: "Ingrese la descripcion"
          },
          "fecha_cadI_df": {
            required: "Ingrese la fecha de caducidad"
          },
          "fotografia":{
            required:"Ingrese la fotografia del ingrediente"
          },
        }
      });
  </script>
  <script type="text/javascript">
    //let table = new DataTable('#tbl_clientes');
    $('#tbl_ingredientes').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'Reportes de provincias.'
        },
        'print',
        'csv'
      ]
    });
  </script>
{% endblock %}
