{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Listado de Pedidos</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarPedido/" method="post" enctype="multipart/form-data" id="frm_nuevo_pedido">
          {% csrf_token %}
          <b>Seleccione el cliente:</b>
         <select class="form-control" name="id_cliente" id="id_cliente">
            <option value="">---SELECCIONE EL CLIENTE ---</option >
            {%  for cliente in clientes %}
              <option value="{{cliente.idC_df}}">{{cliente.nombreC_df}}</option>
            {% endfor %}
         </select>
         <b>Nombre Pedido:</b><br>
         <input type="text" name="nombreP_df" value="" id="nombreP_df" placeholder="Ingrese el nombre del pedido" class="form-control" required><br>
         <b>Fecha facturacion pedido:</b>
         <input type="date" name="fecha_facP_df" value="" id="fecha_facP_df" placeholder="Ingrese la fecha de facturacion" class="form-control" required><br>
         <b>Numero de factura pedido: </b>
         <input type="text" name="numero_facP_df" value="" id="numero_facP_df" placeholder="Ingrese el numero de factura" class="form-control" required><br>
         <b>Fotografía pedido:</b>
         <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
         <br>
         <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>
         </center>
       </form>
     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_pedidos">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">NOMBRE</th>
             <th class="text-center">FECHA FAC</th>
             <th class="text-center">NUMERO FAC</th>
             <th class="text-center">CLIENTE</th>
             <th class="text-center">FOTOGRAFÍA</th>
             <th class="text-center">ACCIONES</th>
           </tr>
         </thead>
         <tbody>
           {% for pedido in pedidos %}
              <tr>
                <td>{{pedido.idP_df}}</td>
                <td>{{pedido.nombreP_df}}</td>
                <td>{{pedido.fecha_facP_df}}</td>
                <td>{{pedido.numero_facP_df}}</td>
                <td>{{pedido.cliente.nombreC_df}}</td>

                <td>
                  {% if pedido.fotografia %}
                  <a href="{{pedido.fotografia.url}}" target="_blank"><img src="{{pedido.fotografia.url}}" alt="" height="50px"></a>
                  {% else %}
                  <b>N/A</b>
                  {% endif %}
                </td>
                <td>
                  <a href="/editarPedido/{{pedido.idP_df}}" class="btn btn-warning">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarPedido('/eliminarPedido/{{pedido.idP_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarPedido(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el pedido seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_pedido").validate({
          rules:{|
            "id_cliente"{
              required:true
            }

            "nombreP_df":{
              required:true
            },
            "fecha_facP_df":{
              required:true
            },
            "numero_facP_df":{
              required:true
            },

        "fotografia":{
          required:true
        }

          },
          messages:{
            "id_cliente"{
              required:"Porfavor seleccione el cliente"
            }

            "nombreP_df":{
              required:"Ingrese el nombre del pedido"
            },
            "fecha_facP_df":{
              required:"Ingrese la fecha de facturacion"
            },
            "numero_facP_df":{
              required:"Ingrese el numero de facturacion"
            },

        "fotografia":{
          required:"Ingrese la fotografia del cliente"
        }
          }
        });
      </script>
      <script type="text/javascript">
         $('#tbl_pedidos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes de pedidos.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
