{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Listado de Clientes</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
          {% csrf_token %}
          <b>Seleccione la provincia:</b>
         <select class="form-control" name="codigo_pro" id="codigo_pro" required>
            <option value="">---SELECCIONE LA PROVINCIA---</option >
            {%  for provincia in provincias %}
              <option value="{{provincia.id_df}}">{{provincia.nombrePr_df}}</option>
            {% endfor %}
         </select>
         <br>
         <b>Nombre del cliente:</b><br>
         <input type="text" name="nombreC_df" value="" id="nombreC_df" placeholder="Ingrese el nombre del cliente" class="form-control" required><br>
         <b>Apellido del cliente:</b><br>
         <input type="text" name="apellidoC" value="" id="apellidoC" placeholder="Ingrese el apellido del cliente" class="form-control" required><br>
         <b>Dirección del cliente:</b>
         <textarea name="direccionC_df" rows="3" cols="30" id="direccionC_df" class="form-control" placeholder="Ingrese la dirección" required></textarea><br>
         <b>Correo del cliente: </b>
         <input type="email" name="correoC" value="" id="correoC" placeholder="Ingrese el correo" class="form-control" required><br>
         <br>
         <b>Fotografía del cliente:</b>
         <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
         <br>
         <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>
         </center>
       </form>
     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_clientes">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">NOMBRE</th>
             <th class="text-center">APELLIDO</th>
             <th class="text-center">DIRECCIÓN</th>
             <th class="text-center">CORREO</th>
             <th class="text-center">PROVINCIA</th>
             <th class="text-center">FOTOGRAFÍA</th>
             <th class="text-center">ACCIONES</th>
           </tr>
         </thead>
         <tbody>
           {% for cliente in clientes %}
              <tr>
                <td>{{cliente.idC_df}}</td>
                <td>{{cliente.nombreC_df}}</td>
                <td>{{cliente.apellidoC}}</td>
                <td>{{cliente.direccionC_df}}</td>
                <td>{{cliente.correoC}}</td>
                <td>{{cliente.provincia.nombrePr_df}}</td>

                <td>
                  {% if cliente.fotografia %}
                  <a href="{{cliente.fotografia.url}}" target="_blank"><img src="{{cliente.fotografia.url}}" alt="" height="50px"></a>
                  {% else %}
                  <b>N/A</b>
                  {% endif %}
                </td>
                <td>
                  <a href="/editarCliente/{{cliente.idC_df}}" class="btn btn-warning">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarCliente('/eliminarCliente/{{cliente.idC_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarCliente(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el cliente seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_cliente").validate({
          rules:{
            "id_provincia":{
              required:true
            },
            "nombreC_df":{
              required:true,
            },
            "apellidoC":{
              required:true
            },
            "direccionC_df":{
              required:true
            },
            "correoC":{
            required:true,
            email:true
          },
          "fotografia":{
          required:true
        }

          },
          messages:{
            "id_provincia":{
              required:"Por favor seleccione la provincia"
            },
            "nombreC_df":{
              required:"Ingrese el nombre del cliente"
            },
            "apellidoC":{
              required:"Ingrese el apellido del cliente"
            },
            "direccionC_df":{
              required:"Ingrese la dirección del cliente"
            },
            "correoC":{
            required:"Ingrese el correo del cliente",
            email:"Dirección de email no válida"
          },
          "fotografia":{
          required:"Ingrese la fotografía del cliente"
        }
          }
        });
      </script>
      <script type="text/javascript">
         $('#tbl_clientes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes de clientes en Django.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
