{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Lista de Recetas</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nueva_receta">
          {% csrf_token %}
          <b>Seleccione el platillo:</b>
          <select class="form-control" name="id_platillo" id="id_platillo">
            <option value="">---SELECCIONE EL PLATILLO--</option>
            {%  for platillo in platillos %}
            <option value="{{platillo.idPl_df}}">{{platillo.nombrePl_df}}</option>
            {% endfor %}
          </select>
          <br>
          <b>Seleccione el ingrediente:</b>
          <select class="form-control" name="id_ingredientes" id="id_ingredientes">
              <option value="">---SELECCIONE EL INGREDIENTE--</option>
              {%  for ingrediente in ingredientes %}
              <option value="{{ingrediente.idI_df}}">{{ingrediente.nombreI_df}}</option>
              {% endfor %}
            </select>
         <b>Nombre de la receta:</b><br>
         <input type="text" name="nombreR_df" value="" id="nombreR_df" placeholder="Ingrese el nombre de la receta" class="form-control" required><br>
         <b>Tiempo de Preparacion:</b>
         <input type="text" name="tiempopreR_df" value="" id="tiempopreR_df" placeholder="Ingrese el tiempo de preparacion" class="form-control" required><br>
         <b>Descripcion de la receta: </b>
         <textarea name="descripcionR_df" rows="3" cols="30" id="descripcionR_df" class="form-control" placeholder="Ingrese la descripcion de la receta" required></textarea><br>
         <br>
         <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>
         </center>
       </form>
     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_recetas">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">NOMBRE</th>
             <th class="text-center">TIEMPO PREPARACION</th>
             <th class="text-center">DESCRIPCION</th>
             <th class="text-center">PLATILLO</th>
             <th class="text-center">INGREDIENTE</th>
             <th class="text-center">ACCIONES</th>
           </tr>
         </thead>
         <tbody>
           {% for receta in recetas %}
              <tr>
                <td>{{receta.idR_df}}</td>
                <td>{{receta.nombreR_df}}</td>
                <td>{{receta.tiempopreR_df}}</td>
                <td>{{receta.descripcionR_df}}</td>
                <td>{{receta.platillo.nombrePl_df}}</td>
                <td>{{receta.ingredientes.nombreI_df}}</td>

                <!--<td>
                   {% if detalle.fotografia %}
                  <a href="{{detalle.fotografia.url}}" target="_blank"><img src="{{detalle.fotografia.url}}" alt="" height="50px"></a>
                  {% else %}
                  <b>N/A</b>
                  {% endif %}
                </td>-->
                <td>
                  <a href="/editarReceta/{{receta.idR_df}}" class="btn btn-warning">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarReceta('/eliminarReceta/{{receta.idR_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarReceta(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la receta seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_detalle").validate({
          rules:{
            "id_platillo":{
              required:true
            },
            "id_ingredientes":{
              required:true,
            },
            "nombreR_df":{
              required:true
            },
            "tiempopreR_df":{
            required:true
          },
          "descripcionR_df":{
            required:true
          }

          },
          messages:{
            "id_platillo":{
              required:"Por favor seleccione el platillo"
            },
            "id_ingredientes":{
              required:"Ingrese el ingrediente"
            },
            "nombreR_df":{
              required:"Ingrese el nombre de la rceta"
            },
            "tiempopreR_df":{
              required:"Ingrese el tiempo de preparacion"
            },
            "descripcionR_df":{
            required:"Ingrese la descripcion",
          }

          }
        });
      </script>
      <script type="text/javascript">
         $('#tbl_recetas').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes de la receta.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
