{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Lista Detalle</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarDetalle/" method="post" enctype="multipart/form-data" id="frm_nuevo_detalle">
          {% csrf_token %}
          <b>Seleccione el pedido:</b>
          <select class="form-control" name="id_pedido" id="id_pedido">
            <option value="">---SELECCIONE EL PEDIDO--</option>
            {%  for pedido in pedidos %}
            <option value="{{pedido.idP_df}}">{{pedido.nombreP_df}}</option>
            {% endfor %}
          </select>
          <br>
          <b>Sleccione el platillo:</b>
          <select class="form-control" name="id_platillo" id="id_platillo">
              <option value="">---SELECCIONE EL PLATILLO--</option>
              {%  for platillo in platillos %}
              <option value="{{platillo.idPl_df}}">{{platillo.nombrePl_df}}</option>
              {% endfor %}
            </select>
            <br>
         <b>Cantidad del produto:</b><br>
         <input type="text" name="cantidadD_df" value="" id="cantidadD_df" placeholder="Ingrese la cantidad" class="form-control" required><br>
         <b>Precio del producto:</b>
         <input type="text" name="precioD_df" value="" id="precioD_df" placeholder="Ingrese el precio" class="form-control" required><br>
         <b>Total: </b>
         <input type="text" name="totalD_df" value="" id="totalD_df" placeholder="Ingrese el total" class="form-control" required><br>
         <b>Fotografía del producto:</b>
         <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
         <br>
         <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>
         </center>
       </form>
     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_detalles">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">CANTIDAD</th>
             <th class="text-center">PRECIO</th>
             <th class="text-center">TOTAL</th>
             <th class="text-center">PEDIDO</th>
             <th class="text-center">PLATILLO</th>
             <th class="text-center">FOTOGRAFÍA</th>
             <th class="text-center">ACCIONES</th>
           </tr>
         </thead>
         <tbody>
           {% for detalle in detalles %}
              <tr>
                <td>{{detalle.idD_df}}</td>
                <td>{{detalle.cantidadD_df}}</td>
                <td>{{detalle.precioD_df}}</td>
                <td>{{detalle.totalD_df}}</td>
                <td>{{detalle.pedido.nombreP_df}}</td>
                <td>{{detalle.platillo.nombrePl_df}}</td>

                <td>
                  {% if detalle.fotografia %}
                  <a href="{{detalle.fotografia.url}}" target="_blank"><img src="{{detalle.fotografia.url}}" alt="" height="50px"></a>
                  {% else %}
                  <b>N/A</b>
                  {% endif %}
                </td>
                <td>
                  <a href="/editarDetalle/{{detalle.idD_df}}" class="btn btn-warning">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarDetalle('/eliminarDetalle/{{detalle.idD_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarDetalle(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el pedido seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_detalle").validate({
          rules:{
            "id_pedido":{
              required:true
            },
            "id_platillo":{
              required:true,
            },
            "cantidadD_df":{
              required:true
            },
            "precioD_df":{
            required:true
          },
          "totalD_df":{
            required:true
          },
          "fotografia":{
          required:true
        }

          },
          messages:{
            "id_pedido":{
              required:"Por favor seleccione el pedido"
            },
            "id_platillo":{
              required:"Ingrese el detalle"
            },
            "cantidadD_df":{
              required:"Ingrese la cantidad"
            },
            "precioD_df":{
              required:"Ingrese el precio"
            },
            "totalD_df":{
            required:"Ingrese el total",
          },
          "fotografia":{
          required:"Ingrese la fotografía del detalle"
        }
          }
        });
      </script>
      <script type="text/javascript">
         $('#tbl_detalles').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes del detalle.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
