{% extends "./plantilla.html" %}

{% block contenido %}
  {% load static %}
  <div class="container">
    <h1 class="text-center">Lista de tipos de comida</h1>
    <br>
    <div class="row">
      <div class="col-md-3">
        <form class="" action="/guardarTipo/" method="post" enctype="multipart/form-data" id="frm_nuevo_tipo">
          {% csrf_token %}
          <b>Nombre del tipo de comida:</b>
          <input type="text" name="nombreT_df" value="" id="nombreT_df" placeholder="Ingrese el nombre del tipo de comida" class="form-control" required><br>
          <b>Descripcion del tipo de comida:</b>
          <textarea name="descripcionT_df" rows="3" cols="30" id="descripcionT_df" class="form-control" placeholder="Ingrese la descricionn del tipo de comida" required></textarea><br>
          <b>Codigo del tipo de comida:</b>
          <input type="text" name="codigoT_df" value="" id="codigoT_df" placeholder="Ingrese el codigo de tipo de comida" class="form-control" required><br>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</button>
          </center>
        </form>
      </div>
      <div class="col-md-9 text-center">
        <img src="{% static 'img/descarga.png' %}" alt="" width="100px">
        <table class="table " id="tbl_tipos" >
          <thead>
            <tr>
              <th class=text-center>ID</th>
              <th class=text-center>NOMBRE</th>
              <th class=text-center>DESCRIPCION</th>
              <th class=text-center>CODIGO</th>
              <th class=text-center>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for tipo in tipos %}
            <tr>
              <td>{{tipo.idT_df}}</td>
              <td>{{tipo.nombreT_df}}</td>
              <td>{{tipo.descripcionT_df}}</td>
              <td>{{tipo.codigoT_df}}</td>
              <td>
                <a href="/editarTipo/{{tipo.idT_df}}" class="btn btn-warning">Editar</a>
                <a href="javascript: void(0)" onclick="eliminarTipo('/eliminarTipo/{{tipo.idT_df}}');" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function eliminarTipo(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el tipo seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>
  <script type="text/javascript">
    $("#frm_nuevo_tipo").validate({
        rules: {
          "nombreT_df": {
            required: true,
          },
          "descripcionT_df": {
            required: true
          },
          "codigoT_df": {
            required: true
          },
        },
        messages: {
          "nombreT_df": {
            required: "Ingrese el nombre del tipo de comida",
          },
          "descripcionT_df": {
            required: "Ingrese el la descripcion del tipo de comida"
          },
          "codigoT_df": {
            required: "Ingrese el codigo del tipo de comida"
          },
        }
      });
  </script>
  <script type="text/javascript">
    //let table = new DataTable('#tbl_clientes');
    $('#tbl_tipos').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'Reportes de tipos de comida.'
        },
        'print',
        'csv'
      ]
    });
  </script>
{% endblock %}
